.contact-container{
    padding:5px;
    margin-top:5rem;
    background: #DA4453;  
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  
    background: linear-gradient(to right, #89216B, #DA4453);
}
.contact-body{
    
    color:gray;
    background-color: black;
    padding:1rem;
    .contact-heading{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
    }
    .contact-flex{
        
        ul{

            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;

            li a{
                color:none;
                text-decoration: none;
                background-color: none;
                margin-right:1rem;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}