.navbar-container{
    
    .navbar-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size:1.5rem;
        color:#fff;
        .flex-left{
            cursor: pointer;
        }
        .flex-right{
            
            .btn-get-user{
                padding:1rem;
                font-size: 1rem;
                color:#fff;
                outline: none;
                border: none;
                background: #DA4453;  
                background: -webkit-linear-gradient(to right, #89216B, #DA4453);  
                background: linear-gradient(to right, #89216B, #DA4453);

                &:hover{
                    background: #bc4e9c; 
                    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  
                    background: linear-gradient(to right, #f80759, #bc4e9c); 

                }
            }
            
        }
    }
}